# Eclipse #
#################
bin/  
 

# Build and unit tests #
########################
logs/
**/lib/
**/target/
*/dependency-reduced-pom.xml
**/screenshots/

# Mac stuff #
#############
.DS_Store



